
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.counters {
  margin-right: 30px;
  font-size: 10px;
  text-align: left;

  small {
      font-size: 1em;
  }

  .sms, .corruption-related,{
   width: 40px;
   height: 30px;
    }

  .status {
    &.little {
    border: none;
    }

    &.very {
    color: $color-green;
    margin-bottom: 10px;
    }

    &.strongly {
    background: $color-green;
    color: $color-white;
    }
  }

  .view {
    margin-top: 10px;
  }
}

form.form-delete {
  display: inline;
}

.mark-controls, .action-control {
  min-width: 60px;
  margin-right: 30px;
  text-align: center;
  color: $gray-700;

  span, a {
    display: block;
  }

  a {
    cursor: pointer;
    color: $gray-600;

    &.off, &.off:hover {
      color: $gray-500;
    }
    
    &.related {
      &.related, &.related:hover {
      color: $warning;
      }
    }
    &.vote-accepted {
      color: $green;
    }
  }   
}
body{
    background:#eee;
     font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;   
}
.chat-list {
    padding: 0;
    font-size: .8rem;
}

.chat-list li {
    margin-bottom: 10px;
    overflow: auto;
    color: #ffffff;
}

.chat-list .chat-img {
    float: left;
    width: 48px;
}

.chat-list .chat-img img {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100%;
}

.chat-list .chat-message {
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}


.chat-list .chat-message h5 {
    margin: 0 0 5px 0;
    font-weight: 600;
    line-height: 100%;
    font-size: .9rem;
}

.chat-list .chat-message p {
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.chat-list .chat-body {
    margin-left: 0px;
    float: left;
    width: 70%;
}

.chat-list .out .chat-img {
    float: right;
    margin-top: 20px;
}

.chat-list .out .chat-body {
    float: right;
    margin-right: 20px;
    text-align: left;
}

.chat-list .out .chat-message {
    padding: 10px;
    font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #dddddd;
    color: #373737;
    font-weight: 300;
    text-align: justify;
    border-radius: 10px 10px 0px 10px;
    outline: 0;
  
}

.chat-list .in .chat-message {
    padding: 10px;
    background: #f6f6f6;
    font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #373737;
    font-weight: 300;
    text-align: justify;
    border:1px solid $gray-200 ;
    border-radius: 0px 10px 10px 10px;
    outline: 0;
}

.card .card-header:first-child {
    -webkit-border-radius: 0.3rem 0.3rem 0 0;
    -moz-border-radius: 0.3rem 0.3rem 0 0;
    border-radius: 0.3rem 0.3rem 0 0;
}
.card .card-header {
    
    border: 0;
    font-size: 1rem;
    padding: .65rem 1rem;
    position: relative;
    font-weight: 600;
    
}

/** Drop Down List for Message Actions *******/

 
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    margin-top: 0px;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -2em;
  }

  .dropdown-content a {
    color: black;
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  